/* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');  */

 @font-face {
    font-family: First DM font;
    src: url("../static/DMSans-Regular.ttf");
}
@font-face {
    font-family: Second DM font;
    src: url("../static/DMSans-Italic.ttf");
    font-style: italic;
}
@font-face {
    font-family: Third DM font;
    src: url("../static/DMSans-Bold.ttf");
    font-weight: bold; 
}
@font-face {
    font-family: Duplicate Sans;
    src: url("../static/DuplicateSans-Medium.ttf");
    font-weight: bold;
}
@font-face {
    font-family: Raleway;
    src: url("../static/Raleway-VariableFont_wght.ttf");
    /* font-weight: 400; */
}
/* // <uniquifier>: Use a uniquifier for the class name */
/* // <weight>: Use a value from 100 to 1000 */

/* .dm-sans-<DM-san> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
:root{
    --primary: #000000;
    --background: #FAFAFA;
    --secondary-background: #f2f2f2;
    --gray: #847f90;
    --gray-hover: #171717;
    --primary-hover: #555555;
    --link-gray: #666666;
    --link-gray-hover: #171717;
    --gray: #E1E1E1;
    --gray-border: #e6e6e6;
    --white: #fcfcfc;
    --navbar-height: 64px;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
   
}
.container{
    margin: 0 auto;
     /* padding: 20px 90px;  */
     padding-left: 10rem;
     padding-right: 10rem;
     padding-top: 2rem;
    box-sizing: border-box;
    /* font-family: 'Raleway', sans-serif; */
}
.menu_wrapper{
    display: flex;
    /* position: fixed; */
    justify-content: space-between;
    width: 100%;
    /* z-index: 2; */
    /* gap: 24px; */
    /* background-color: var(--background); */
    /* height: var(--navbar-height); */
    padding: 0px 16px;
    align-items: center;
    /* box-shadow: 0 1px 0 0 rgba(0, 0, 0, .1); */
    margin-bottom: 7rem;
}
.logo img{
    width: 1000px;
}
.navigation{
    margin-left: 32px;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    align-items: center;
    gap: 20px;
    /* background-color: var(--background); */
}
.navigation>li{
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    min-height: 36px;
}
.navigation>li>a{
    color: var(--link-gray);
    font-size: 14px;
    text-decoration: none;
}
.navigation>li>a:hover {
color: var(--link-gray-hover);
}
.navigation>li>button{
    color: var(--link-gray);
    font-family: 'First DM font', sans-serif;
    font-weight: 500;
    transition: all 0.3s ease;
    text-decoration: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    margin-right: -4px;
    align-items: center;
    min-height: 36px;
    font-size: 15px;
    font-weight: 500;
    gap: 4px;
    flex-wrap: nowrap;
    border-radius: 999px;
    padding: 4px 10px;
    white-space: nowrap;
    background: none;
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    transition: all 0.2s ease-in-out;
}
#nav_head {
    font-family: 'First DM font', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.navigation>li>button {
    display: flex;
    align-items: center;
}
.navigation>li>button>svg{
    margin-top: 2px;
    fill: var(--link-gray);
    transition: all 0.2s ease-in-out;
}
.navigation>li:hover>button svg{
    fill: var(--link-gray-hover);
    rotate: 180deg;
}
.navigation>li:hover>button{
    color: var(--link-gray-hover);
    background-color: var(--gray);
}
.navigation>li:hover .dropdown{
    display: block;
}
.navigation>li:hover .dropdown-2{
    display: block;
}

@keyframes fadeIn{
    from {
        opacity: 0;
        transform: scale(0.99)
        translateY(-0.7em);
        transform-origin: top;
    }

    to {
        opacity: 1;
        transform: scale(1)
        translateY(0);
    }
}
.dropdown_wrapper{
    position: absolute;
    top: 0px;
    left: -165%;
    padding-top: 60px;
    max-width: 600px;
}
/* .dropdown_wrapper-2{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 60px;
} */
.dropdown{
    border-radius: 8px;
    background-color: var(--white);
    display: none;
    padding: 15px;
    max-width: 100%;
    /* max-width: 64rem;
    min-width: 840px; */
    border: 1px solid var(--gray-border);
    box-shadow: 
        0 50px 100px
        -20px rgba(0, 0, 0, .12),
        0 30px 60px
        -30px rgba(0, 0, 0, .15);
    /* z-index: 999; */
    animation: fadeIn 0.2s ease-in-out;    
}
 .dropdown-2{
    border-radius: 8px;
    background-color: var(--white);
    display: none;
    padding: 15px;
    width: 300px;
    max-width: 100%;
    border: 1px solid var(--gray-border);
    box-shadow: 
        0 50px 100px
        -20px rgba(0, 0, 0, .12),
        0 30px 60px
        -30px rgba(0, 0, 0, .15);
     /* z-index: 999;  */
    animation: fadeIn 0.2s ease-in-out; 
} 
.list-items-with-description{
    list-style-type: none;
    display: grid;
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    /* align-items: center; */
     width: 500px; 
     padding: 2px;
    /* gap: 10px; */
     grid-template-columns: repeat(2, minmax(0, 1fr)); 
}
.list-items-with-description li{
     /* display: grid;  */
     /* grid-template-columns: repeat(2, minmax(0, 1fr));  */
     /* justify-content: center; */
    /* align-items: center;  */
     padding: 4px; 
    /* gap: 30px; */
     /* width: 3; */
    /* height: 100%;  */
    margin-bottom: 20px;
}
.list-items-with-description li:hover {
    background-color: var(--secondary-background);
    border-radius: 6px;
}
.list-items-with-description li svg{
    stroke: var(--link-gray-hover);
    stroke-width: 1px;
    width: 24px;
    height: 24px;
}
.list-items-with-description-2{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* width: 100%; */
    /* gap: 10px; */
      width: 29rem;  
      padding: 2px;
}
.list-items-with-description-2 li{
    display: flex;
    /* flex-direction: column; */
    padding: 8px;
    justify-content: left;
    align-items: start;
    /* gap: 16px; */
    width: 30%;
    /* height: 69px; */
}
.list-items-with-description-2 li:hover{
    background-color: var(--secondary-background);
    border-radius: 6px;
}
.list-items-with-description-3{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 24rem;


}
.list-items-with-description-3 li{
    display: flex;
    padding: 3px;
    justify-content: left;
    align-items: start;
}
.list-items-with-description-3 li:hover{
    background-color: var(--secondary-background);
    border-radius: 6px;
}
.item-title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    border-radius: 10px;
}
.item-title:hover{
    background-color: var(--gray);
}
.title-word{
    /* display: flex;
    flex-direction: column;
     justify-content: right; 
    align-items: start; */
    display: block;
    margin-left: 10px;
}
.title-word h3{
    font-family: 'First DM font', sans-serif;   
    font-weight: 600;
    font-size: 17px;
    color: var(--link-gray-hover);
    margin-bottom: 5px;
    /* letter-spacing: normal; */
}
.title-word p{
    font-family: 'First DM font', sans-serif;  
    font-size: 14px;
    margin-top: 0;
    /* letter-spacing: normal; */
    white-space: wrap;
}
.sign-in button{
    /* width: 100px; */
    padding: 15px 25px;
    background: #0055ba;
    border: none;
    border-radius: 15px;
    color: #f8f8f8;
    font-size: 15px;
    font-weight: 500;
    font-family: 'First DM font', sans-serif;
    margin-left: 12rem;
}
.sign-in button:hover{
    background-color: blue;
}
.burger-menu{
    display: none;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
}
.information{
   margin-bottom: 1rem;
   width: 350px;
}
.rounded{
    max-width: 90%;
    height: 52px;
}
.first-round{
    background: #f5f5f5; 
    display: inline-flex; 
    align-items: center; 
    gap: 16px; 
    padding: 1px 12px; 
     /* width: 272px;  */
    height: 42px;  
    border-radius: 100px;
    cursor: pointer;
}
.round-text>svg{
    width: 20px;
    margin-left: 5px;
    color: #000;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-duration: 150ms; */
    transition-duration: 75ms;
    transform: translateX();
}
.round-text>svg:hover{
    transform: translateX(2px);
}
.first-circle p{
    background: #0055ba;
     padding: 4px 12px; 
     border-radius: 24px; 
     width: 30px; 
     height: auto; 
     color: #f8f8f8;
     font-weight: 700;
    font-family: 'Duplicate Sans', sans-serif;
}
.round-text{
    display: flex;
    align-items: center;
}
.round-text svg{
    color: black;
    opacity: 1;
    fill: #000000;
}
.round-text p{
    font-family: 'First DM font', sans-serif;
    font-size: 13px;
    margin-right: 5px;
    font-weight: 500;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 9rem;
    /* gap: 60px; */
}
 .reliable{
    display: flex;
    flex-direction: column;
    text-align: start;
    /* gap: 20px; */
     width: 70%; 
}
.reliable h1{
    font-size: 5.5rem;
    font-weight: 700;
    line-height: 5.65rem;
    letter-spacing: 1.70px;
    font-family: 'Duplicate Sans', sans-serif;
     /* max-width: 50%;  */
     margin-bottom: 20px;
}
.reliable p{
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.78px;
    font-family: 'First DM font', serif;
}
.reliable-btn{
    /* font-family: 'Raleway', serif; */
    display: flex;
    margin-bottom: 8rem;
   
}
.btn-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
     background: #0055ba;
     padding: 15px 25px;
     border-radius: 10px;
     color: white;
     margin-right: 10px;
     cursor: pointer;
}
.btn-1 div{
    font-size: 15px;
    font-weight: 600;
    /* letter-spacing: 0.5px; */
    font-family: 'First DM font', sans-serif;
}
.btn-1 svg{
    width: 14px;
    height: 14px;
    margin-left: 5px;
    color: #000;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-duration: 150ms; */
    transition-duration: 75ms;
    transform: translateX();
}
.btn-2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     border: none;
     background: #f7f8f9;
     padding: 15px 25px;
     border-radius: 10px;
    cursor: pointer;
}
.btn-2 div{
    font-size: 15px;
    font-weight: 600;
    /* letter-spacing: 0.5px; */
    font-family: 'First DM font', sans-serif;
    color: black;
}
.btn-2 svg{
    color: black;
    fill: #000000;
    opacity: 1;
    margin-left: 5px;
    width: 14px;
    height: 14px;
    margin-left: 5px;
    color: #000;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-duration: 150ms; */
    transition-duration: 75ms;
    transform: translateX();
}
.btn-1 svg,
.btn-2 svg:hover{
     transform: translateX(2px);
}
.logos{
    display: flex;
    justify-content: space-between;
    gap: 70px;
}
#flutterwave{
    width: 170px;
}
.trusted p{
    font-family: 'First DM font', sans-serif;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 4rem;
    color: #646262;
}
.build h1{
    font-size: 3.95rem;
    font-weight: 600;
    line-height: 3.95rem;
    letter-spacing: 0.90px;
    margin-bottom: 20px;
    font-family: 'Duplicate Sans', serif;
}
.build p{
    font-size: 27px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.28px;
    margin-bottom: 40px;
    font-family: 'First DM font', serif;
}
.img-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
    /* justify-content: center; */
}

figure{
    margin-left: 0;
}
.connect{
    background-image: url("../Images/connect.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     background-clip: border-box;
     background-position: 100% 100%;
    max-width: 100%;
    /* max-width: -webkit-fill-available; */
    padding-top: 4rem;
    padding-bottom: 8rem;
    padding-left: 4.85rem;
    padding-right: 2.75rem;
    border-radius: 0.935rem;
    color: #f8f8f8;
    grid-column: 1 / span 2;
    grid-row: 1/ span 3;
    
}
.connect h3{
    font-size: 45px;
    line-height: 40px;
    font-family: 'Duplicate Sans', serif;
    font-weight: 700;
}
.connect p{
    font-family: 'Raleway', serif;
    font-size: 18px;
     font-weight: 600; 
    line-height: 24px;
}
.connect>button{
    background: #f8f8f8;
    color: #0055ba;
    border: none;
    padding: 0.9rem;
    border-radius: 0.935rem;
    font-family: 'Duplicate Sans', serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.6px;
    gap: 8px;
}
.connect>button svg{
    /* background-color: #0055ba; */
    color: #0055ba;
    fill: #0055ba;
    opacity: 1;
}
.directpay{
    background-image: url("../Images/directpay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: 100% 100%;
    max-width: 100%;
    /* max-width: -webkit-fill-available; */
    height: 600px;
    padding: 3.75rem;
    border-radius: 0.935rem;
   
}
.directpay h3{
    font-size: 45px;
    line-height: 40px;
    font-family: 'Duplicate Sans', serif;
    font-weight: 900;
}
.directpay p{
    font-family: 'First DM font', serif;
    font-size: 18px;
    font-weight: 400; 
   line-height: 24px;
}
.directpay button{
    background: #151ce8f4;
    color: #f8f8f8;
    border: none;
    padding: 0.9rem;
    border-radius: 0.935rem;
    font-family: 'Duplicate Sans', serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.6px;
}
.directpay button>svg{
   width: 14px;
   height: 14px;
}

.percept{
    background-image: url("../Images/percept.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: 100% 100%;
    /* max-width: 400px; */
    max-width: 100%;
    /* max-width: -webkit-fill-available; */
    height: 600px;
    padding: 3.75rem;
    border-radius: 0.935rem;
    color: #f8f8f8;
}
.percept h3{
    font-size: 45px;
    line-height: 40px;
    font-family: 'Duplicate Sans', serif;
    font-weight: 900;
}
.percept p{
    font-family: 'First DM font', serif;
    font-size: 18px;
     font-weight: 400; 
    line-height: 24px;
}
.percept button{
    background: #2e2c2c;
    color: #f8f8f8;
    border: none;
    padding: 3px 23px;
    border-radius: 0.935rem;
    font-family: 'Duplicate Sans', serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.6px;
    display: flex;
    align-items: center;
}
.percept button>svg{
    fill: #2e2c2c;
    stroke: #FAFAFA;
    /* width: 16px;
    height: 16px; */
}

.business-view{
    margin-bottom: 9rem;
}
.business{
    margin-bottom: 90px;
}
.business h1{
    font-size: 3.95rem;
    font-weight: 600;
    line-height: 3.95rem;
    letter-spacing: 0.50px;
    font-family: 'Duplicate Sans', serif;
}
.business p{
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.78px;
    font-family: 'First DM font', serif;
}
.building-board{
    background-color: #f8f8f8;
    width: auto;
    border: none;
    padding: 15px 45px;
    border-radius: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 60px;
}
.board-head{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 10px;
}
.board-head p{
    border: none;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    font-family: 'First DM font', serif;
    white-space: nowrap;
}
.board-head p:hover{
    background: #ced4da;
    cursor: pointer;
}
.board-details{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    position: relative;
}
.bd-text{
    max-width: 480px;
    padding-bottom: 3rem;
}
.bd-text h1{
    font-size: 39px;
    font-weight: 600;
    line-height: 50px;
    letter-spacing: normal;
    font-family: 'Duplicate Sans', serif;
}
.bd-text p{
    font-size: 17px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'First DM font', serif;
    color: #403d39;
    opacity: 0.8;
    white-space: pre-wrap;
}
.bd-text a{
    font-size: 17px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: normal;
    font-family: 'First DM font', sans-serif;
    color: #0055ba;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.bd-image img{
   position: absolute;
    bottom: 0;
    right: 10;
    max-width: 300px;
}
.why-head h1{
    font-size: 3.95rem;
    font-weight: 600;
    line-height: 3.95rem;
    letter-spacing: 0.80px;
    font-family: 'Duplicate Sans', serif;
}
.why-head p{
    font-size: 28px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.78px;
    font-family: 'First DM font', serif;
}
.why-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 50px;
}
.quote{
    width: 2.5rem;
    height: 2.5rem;
}
.testimony-1{
    background:  rgba(245, 245, 245);
    border: none;
    padding: 60px;
    border-radius: 0.9375rem;
    /* width: 450px;  */
    width: 100%;
    height: 100%;
}
.testimony-1 h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 2.85rem;
    letter-spacing: normal;
    font-family: 'Duplicate Sans', serif;
    margin-bottom: 50px;
}
.testimony-2{
    background:  rgba(245, 245, 245);
    border: none;
    padding: 60px;
    border-radius: 0.9375rem;
    /* width: 450px;  */
    width: 100%;
    height: 100%;
}
.testimony-2 h2{
    font-size: 36px;
    font-weight: 600;
    line-height: 2.78rem;
    letter-spacing: normal;
    font-family: 'Duplicate Sans', serif;
    margin-bottom: 15px;
}

.people{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    /* gap: 20px; */
}
.people-image{
    position: relative;
}
.people-image img{
    width: 58px;
   object-fit: contain;
}
.image-tag{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    border-radius: 50%;
    padding: 4px;
}
.image-tag img{
    width: 12px;
    height: 12px;
}
.people-name h3{
    font-size: 14px;
    font-family: 'First DM font', serif;
    font-weight: 600;
    letter-spacing: normal;
    margin-left: 20px;
    margin-bottom: 0;
}
.people-name p{
    font-size: 12px;
    font-family: 'First DM font', serif;
    font-weight: 500;
    letter-spacing: normal;
    margin-left: 20px;
    opacity: 0.8;
}
.pointers{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.pagination{
    display: flex;
    /* gap: 10px; */
    justify-content: space-between;
    align-items: end;
}
.page-1{
     background: #f7f7f7;
     padding: 20px;
     border-radius: 50px;
}
.page-2{
    background: rgb(64, 64, 243);
    padding: 20px;
    border-radius: 50px;
}
.getting-started {
    background: url("../Images/getting-started-bg.jpg");
    background-position: center;
    background-clip: border-box;
    background-size: cover;
    /* width: fit-content; */
    max-width: 100%;
    /* padding: 150px; */
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
    /* align-items: center; */
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    padding-left: 6.25rem;
    padding-right: 6.25rem;
}
 .getting-started-container{
    /* max-width: 75rem; */
      margin: 0 auto; 
}
.getting-started h1{
    font-size: 55px;
    /* font-weight: 600; */
    line-height: 73.6px;
    letter-spacing: normal;
    font-family: 'Duplicate Sans', serif;
    color: #f8f8f8;
    text-align: start;
}
.grid-view{
    /* display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 20px;  */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    /* align-items: center; */
}
.API{
    background: #f8f8f8;
    border: none;
    padding: 50px 50px 0;
    border-radius: 15px;
   
    align-items: start; 
    
    display: grid;
    grid-template-columns: minmax(300px,1fr)1fr;
    grid-column: span 3;
    margin-bottom: 0;
    max-width: 900px;
    position: relative;
}
.API-docs{
    padding-bottom: 70px;
}
.API-docs h1{
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: normal;
    font-family: 'Duplicate Sans', serif;
    color: black;
    text-align: start;
    max-width: 74%;
}
.API-docs a{
    color: #0055ba;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: normal;
    text-align: start;
    font-family: 'Duplicate Sans', serif;
    text-decoration: none;
    margin-bottom: 20px;
}
.response{
    display: flex;
    justify-content: center;
    flex: 1 1 0%;
}
.response img{
    width: 400px;
    margin-bottom: 0 !important;
    position: absolute;
    bottom: 0;
}
.SDK-Flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.SDK{
    flex: 1;
    background: #f8f8f8;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 48px;
     max-width: 300px; 
     margin-right: 10px;
}
.SDK h1{
    font-size: 36px;
    font-weight: 600;
    line-height: 45px;
    letter-spacing: normal;
    font-family: 'Duplicate Sans', serif;
    color: black;
    margin-bottom: 35px;
    width: 216px;
    height: 90px;
}
.SDK a{
    text-decoration: none; 
    color: #151ce8f4; 
    font-weight: 600;  
    font-family: 'First DM font', serif;
    font-size: 17px;
    display: flex;
    align-items: center;
}
.SDK img{
    max-width: 50px;
}
.SDK a img{
    max-width: 12px;
}
footer{
    background: #000;
    max-width: 100%;
}
.fcontainer{
    padding: 100px 20px 30px;
    display: flex;
    flex-direction: column;
    gap: 70px;
    max-width: 75rem;
    margin: auto;
}
.footer-head{
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    color: #f8f8f8;
    text-align: center;
    align-items: center;
}
.footer-head h1{
    font-size: 3.95rem;
    font-weight: 600;
    /* line-height: 3.95rem; */
    letter-spacing: 0.90px;
    font-family: 'Duplicate Sans', serif;
    margin-bottom: 10px;
}
.footer-head p{
    font-size: 26px;
    font-weight: 400;
    /* line-height: 48px; */
    letter-spacing: 0.78px;
    font-family: 'First DM font', serif;
    width: 70%;
    margin-top: 7px;
} 
.buttons{
    margin-top: 20px; 
    display: flex; 
    justify-content: center; 
    gap: 10px;
}
.button-1{
    background: #0055ba; 
    color: #f8f8f8; 
    /* width: auto;  */
    margin-right: 12px; 
    padding: 15px 25px;
    border-radius: 10px;
    border: none; 
    cursor: pointer;
}
.button-1 div{
    font-size: 60px;
    font-weight: 600;
    /* letter-spacing: 0.5px; */
    font-family: 'First DM font', sans-serif;
}
.bttn-2{
    background: #343232; 
    color: #f8f8f8; 
    /* width: auto;  */
    margin-right: 12px;
    padding: 15px 25px;
    border-radius: 10px;
    border: none; 
    cursor: pointer;
    display: flex;
    align-items: center;
}
.bttn-2 div{
    font-size: 16px;
    font-weight: 600;
    /* letter-spacing: 0.5px; */
    font-family: 'First DM font', sans-serif;
}
button>svg{
    width: 20px;
    margin-left: 5px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    /* transition-duration: 150ms; */
    transition-duration: 75ms;
    transform: translateX();
    
}
button>svg:hover{
   transform: translateX(2px);
}
/* .button-2>svg{
    width: 20px;
    margin-left: 5px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 75ms;
    transform: translateX();
}
.button-2>svg:hover{
    transform: translateX(2px);
} */
.footer-bottom{
    display: flex;
    justify-content: space-around;
    
}
.fproducts{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f8f8f8;
    font-family: 'First DM font', serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 70px;
}
.fproducts li{
    list-style: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.fresources{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f8f8f8;
    font-family: 'First DM font', serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 70px;
}
.fresources li{
    list-style: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.comp{
    display: flex;
    flex-direction: column;
    color: #f8f8f8;
    font-family: 'First DM font', serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 70px;
}
.comp li{
    list-style: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.legal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #f8f8f8;
    font-family: 'First DM font', serif;
    font-size: 16px;
    font-weight: 500;
    margin-right: 70px;
}
.legal li{
    list-style: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.legal li:hover,
.comp li:hover,
.fproducts li:hover,
.fresources li:hover {
    color: rgb(156 163 175 );
    transition-property: color,fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.groove{
    border-bottom: 1px groove #e8eaed;
    margin-top: 60px;
    opacity: 0.3;
}
.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* text-align: center; */
}
.bottom-logo{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    align-items: left;
     gap: 20px; 
}
.bottom-logo img{
    /* color: #f8f8f8; */
    background-color: #000000;
    object-fit: cover;
    width: auto;
    height: 21px;
    margin-top: 20px;
    /* fill: #000000; */
}
.bottom-logo p{
    color: #f8f8f8;
    font-family: 'First DM font', sans-serif;
    font-size: 16px;
    line-height: 1.25rem/* 20px */;
    white-space: nowrap;
}
.media-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    /* gap: 20px; */
}
.twitter{
    color: #f8f8f8;
    display: flex;
     justify-content: space-evenly; 
    align-items: center;
    /* width: 100%;  */
     gap: 10px; 
}
.twitter img{
    object-fit: cover;
    width: 16px;
    height: 16px;
    /* margin-top: 20px; */
}
.twitter h5{
    font-size: 16px;
    line-height: 1.25rem;
    font-weight: 600;
    opacity: 1;
    color: rgb(156 163 175 );
    font-family: 'First DM font', sans-serif;
    cursor: pointer;
    transition-property: color,fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
/* .twitter:first-child{
    margin-right: 2.5rem;
}  */
.twitter>h5:hover{
    color: white;
}
.bridge>p{
    font-size: 21px; 
    font-weight: 600; 
    color: #f8f8f8; 
     /* margin-bottom: 100px;  */
     top: 0;
}
/* .linkedin{
    color: #f8f8f8;
    display: flex;
    gap: 10px;
}
.linkedin img{
    object-fit: contain;
    width: 16px;
    height: 16px;
} */
