@media  screen and (max-width: 490px) {
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  
    .container{
        padding-left: 22px;
        padding-right: 22px;
        padding-top: 20px;
        margin: 0 auto;
        /* max-width: 400px; */
    }
    .menu_wrapper{
        display: flex;
        justify-content: space-between;
        width: 100%;
        /* max-width: 490px; */
        padding: 5px 0;
        margin-bottom: 3rem;
    }
    #logo img{
        width: 70px;
    }
    .hide{
        display: none;
    }
    .burger-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;
        width: 48px;
        min-width: 48px;
        pointer-events: all;
        /* gap: 4px; */
        flex-direction: column;
        border: 1px solid var(--gray-border);
    } 
    .burger-menu svg{
        height: 32px;
        stroke: var(--link-gray);
        width: 32px;
    }
    .information{
        width: 80%;
        margin-bottom: 2px;
    }
    .rounded{
        width: 100%;
        padding: 3px 5px;
    }
    .first-round p{
        text-wrap: nowrap;
    }
    .main{
        max-width: 100%;
    }
    .reliable{
        width: 100%;
    }
    .reliable h1{
        width: 100%;
        font-size: 2rem;
        font-weight: 500;
        line-height: 2rem;
        /* text-wrap: nowrap; */
        margin-bottom: 2px;
    }
    .reliable p{
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 1rem;
        text-wrap: nowrap;
    }
    .reliable-btn{
        margin-bottom: 3rem;
        display: flex;
        /* justify-content: center; */
        align-items: center;
        /* margin-left: 10px; */
    }
    .btn-1{
        padding: 15px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* margin-left: 20px; */
        /* display: none; */
    }
    .btn-1 div{
        font-size: 12px;
        /* text-wrap: nowrap; */
    }
    .btn-1 svg{
        width: 12px;
        height: 12px;
    }
    .btn-2{
        padding: 15px 20px;
        margin-left: 20px;
    }
    .btn-2 div{
        font-size: 12px;
        text-wrap: nowrap;
    }
    .btn-2 svg{
        width: 12px;
        height: 12px;
    }
    .trusted p{
       font-size: 14px;
       line-height: 12px;

    }
    .logos{
        /* display: flex;
        flex: 2;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* gap: 40px; */
        row-gap: 10px;
        column-gap: 10px;
        margin-bottom: 2rem;
    }
    .logos img{
        width: 70px;
        height: auto;
    }
    #flutterwave{
        width: 120px;
    }
    .build h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 100%;
        text-wrap: nowrap;
    }
    .build p{
        font-size: 14px;
        line-height: 12px;
        width: 100%;
        text-wrap: nowrap;
    }
    .img-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .connect{
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 25px;
        padding-bottom: 70px;
        background-position: 81% 50%;
        max-height: 450px;
        width: 85%;
    }
    .connect h3{
        font-size: 1rem;
    }
    .connect p{
        font-size: 14px;
        line-height: 14px;
    }
    .connect>button{
        padding: 7px 9px;
        font-size: 14px;
    }
    .directpay{
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 25px;
        padding-bottom: 70px;
        max-height: 350px;
        width: 85%;
        background-position: 81% 50%; 
    }
    .directpay h3{
        font-size: 1rem;
    }
    .directpay p{
        font-size: 14px;
        line-height: 14px;
    }
    .directpay button{
        padding: 11px 13px;
        font-size: 14px;
    }
    .percept{
        padding-top: 10px;
        padding-left: 15px;
        padding-right: 25px;
        padding-bottom: 70px;
        max-height: 350px;
        width: 85%;
        background-position: 81% 50%; 
    }
    .percept h3{
        font-size: 1rem;
    }
    .percept p{
        font-size: 14px;
        line-height: 14px;
    }
    .percept button{
        padding: 3px 13px;
        font-size: 14px;
    }
    .business h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 100%;
        text-wrap: nowrap;
    }
    .business p{
        font-size: 14px;
        line-height: 12px;
        width: 100%;
        text-wrap: nowrap;
    }
    .building-board{
        padding: 14px 13px;
        padding-bottom: 0;
        width: 90%;
        height: auto;
        position: relative;
    }
    .board-head{
        overflow-x: scroll;
        white-space: nowrap;
        width: 70%;
    }
    .board-head p{
        padding: 5px;
        width: 100%;
        font-size: 14px;
    }
    .board-details{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* align-items: center; */
        gap: 50px
        /* display: block; */
    }
    .bd-text{
        margin-bottom: 300px;
    }
    .bd-text h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 74%;
    }
    .bd-text p{
        font-size: 14px;
        line-height: 19px;
        width: 90%;
        text-wrap: wrap;
    }
    .bd-text a {
        font-size: 14px;
        line-height: 12px;
        width: 100%;
        text-wrap: nowrap;
    }
    .bd-image{
        position: absolute;
        bottom: 0;
    }
    .bd-image img{
        /* margin-top: 500px; */
        width: 300px;
        height: 300px;
        /* position: absolute; */
        bottom: 0;
    }
    .the-why h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 100%;
        text-wrap: nowrap;
    }
    .the-why p{
        font-size: 14px;
        line-height: 12px;
        width: 100%;
        text-wrap: nowrap;
    }
    .why-flex{
        display: block;
    }
    .testimony-1{
        padding: 20px 9px;
        /* padding-bottom: 0; */
        width: 96%;
        height: auto;
        margin-bottom: 30px;
    }
    .testimony-1 + .testimony-2 svg{
        width: 14px;
        height: 14px;
    }
    .testimony-1 h2{
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 100%;
        text-wrap: wrap;
    }
    .testimony-2{
        padding: 20px 9px;
        /* padding-bottom: 0; */
        width: 96%;
        height: auto;
    }
    .testimony-2 h2{
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 100%;
        text-wrap: wrap;
    }
    .people-image img{
        width: 34px;
        height: 34px;
    }
    .image-tag{
        padding: 2px;
    }
    .image-tag img{
        width: 14px;
        height: 14px;
    }
    .people-name h3{
        font-size: 11px;
        line-height: 12px;
        width: 100%;
        text-wrap: nowrap;
    }
    .people-name p{
        font-size: 10px;
        line-height: 10px;
        width: 100%;
        text-wrap: nowrap;
    }
    .page-1{
        padding: 15px;
    }
    .page-2{
        padding: 15px;
    }
    .getting-started{
        overflow-x: hidden;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .getting-started-container{
        max-width: max-content;
    }
    .getting-started-container h1{
        font-size: 1.5rem;
        line-height: 1.5rem;
        width: 100%;
        text-wrap: nowrap;
    }
    .grid-view{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .API{
        display: block;
        padding: 39px 10px 0;
        width: 350px;
        max-width: 400px;
        position: relative;
    }
    .API-docs{
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 159px;
    }
    .API-docs h1{
        text-align: center;
        width: 99%;
        white-space: pre-wrap;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .response img{
        width: 303px;
        height: 200px;
        margin-bottom: -50px;
        position: absolute;
        bottom: 0;
    }
    .SDK-Flex{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .SDK{
        padding: 15px;
        margin-bottom: 20px;
        align-items: center;
        width: 350px;
    }
    .SDK h1{
        width: 50%;
        margin-bottom: 0;
        font-size: 1.2rem;
    }
    .SDK a{
        margin-top: -50px;
        font-size: 11px;
        font-weight: 500;
    }
    footer{
        overflow-x: hidden;
        padding-top: 20px;
        padding-bottom: 20px;
        max-width: max-content;
    }
    .fcontainer{
       padding: 20px 20px;
        max-width: 100%;
        margin: 0 auto;
        gap: 0;
    }
    .footer-head{
        align-items: center;
    }
    .groove{
        width: 80%;
        display: flex;
        align-items: center;
    }
    .footer-head h1{
        font-size: 1.2rem;
        line-height: 1.5rem;
        width: 79%;
        text-wrap: nowrap;
    }
    .footer-head p{
        font-size: 14px;
        line-height: 12px;
        width: 79%;
        text-wrap: wrap;
    }
    .buttons{
        display: flex;
        justify-content: center;
    }
    .bttn-2{
        padding: 15px 20px;
        margin-left: 20px;
    }
    .bttn-2 div{
        font-size: 12px;
        text-wrap: nowrap;
    }
    .bttn-2 svg{
        width: 12px;
        height: 12px;
    }
    .footer-bottom{
        /* flex-wrap: wrap; */
        /* align-items: center; */
        /* padding-left: 10px; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
        padding-left: 10px;
    }
    .fproducts,
    .fresources,
    .legal,
    .comp {
        margin-top: 40px;
    }
    .fproducts li,
    .fresources li,
    .comp li,
    .legal li{
        font-size: 14px;
        line-height: 12px;
        width: 100%;
        text-wrap: nowrap;
    }

    .bottom{
        flex-direction: column;
        margin-top: 40px;
    }
    .bottom-logo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .bottom-logo p{
        font-size: 14px;
        line-height: 12px;
        width: 100%;
       text-align: center;
    }
    .media-links{
        width: 42%;
        justify-content: space-between;
        align-items: center;
    }
    .twitter{
        width: 39%;
    }
    .twitter h5{
        font-size: 11px;
        line-height: 12px;
        width: 100%;
        text-wrap: nowrap;
    }
}
@media  screen and (min-width: 500px) and (max-width: 900px) {
    html{
      
        margin: 0;
       
    }
    body{
        height: 100vh;
        /* padding: 7px; */
        overflow-x: hidden;
        box-sizing: border-box;
        margin: 0;
    }
    .container{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 20px;
        margin: 0 auto;
    }
    .menu_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 2rem;
        /* padding: 1.5rem 1.25rem; */
    }
    .hide{
        display: none;
    }
    .burger-menu{
        display: flex;
        align-items: center;
        justify-content: center;
        /* border-radius: 50%; */
        height: 48px;
        width: 50px;
        pointer-events: all;
        /* gap: 4px; */
        flex-direction: column;
        /* border: 1px solid var(--gray-border); */
    }
    .burger-menu svg{
        width: 50px;
        height: 50px;
        stroke: var(--gray-border);
        fill: black;
        opacity: 1;
    }
    .information{
        width: 80%;
        margin-bottom: 5px;
    }
    .rounded{
        width: 100%;
        padding: 3px 5px;
    }
    .reliable{
        max-width: 100%;

    }
    .reliable h1{
        width: 100%;
        font-size: 4.125rem;
        font-weight: 500;
        line-height: normal;
        letter-spacing: normal;
        
    }
    .logos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .img-section{
        width: 90%;
    }
    .build h1{
        font-size: 1.95rem;
        line-height: 2rem;
        width: 80%;
    }
    .build p{
        font-size: 19px;
        line-height: 30px;
        width: 80%;
    }
    .img-section{
        width: 90%;
    }
    .connect{
        padding-left: 3.85rem;
        padding-right: 1.95rem;
        /* width: 500px; */
    }
    .connect h3,
    .directpay h3,
    .percept h3 {
        font-size: 35px;
        line-height: 30px;
    }
    .connect p,
    .directpay p,
    .percept p{
        font-size: 16px;
        line-height: 20px;
    }
    /* .directpay{
        width: 230px;
        padding: 1.75rem;
    }
    .percept{
        width: 230px;
        padding: 1.75rem;
    } */
    .percept button{
        text-wrap: nowrap;
    }
    .business h1{
        font-size: 1.95rem;
        line-height: 2rem;
        width: 80%;
    }
    .business p{
        font-size: 19px;
        line-height: 30px;
        width: 80%;
    }
    /* .business-view{
        padding-left: 3.75rem;
        padding-right: 3.75rem;
    } */
    .building-board{
        padding: 20px 30px;
        padding-bottom: 0 !important;
         width: 90%; 
        position: relative;
    }
    .board-head{
        white-space: nowrap;
        width: 100%;
        gap: 10px;
    }
    .board-head p{
        padding: 5px;
        font-size: 16px;
    }
    .board-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
    }
    .bd-text{
        margin-bottom: 400px;
    }
    .bd-text h1{
        font-size: 1.9rem;
        line-height: 1.5rem;
        width: 100%;
    }
    .bd-text p{
        font-size: 18px;
        line-height: 19px;
        width: 100%;
        text-wrap: pre-wrap;
    }
    .bd-image{
        position: absolute;
        bottom: 0;
    }
    .bd-image img{
        margin-top: 60px;
        width: 400px;
        height: 400px;
    }
    .why-flex{
        width: 90%;
    }
    .why-head h1{
        font-size: 1.95rem;
        line-height: 2rem;
        width: 80%;
    }
    .why-head p{
        font-size: 19px;
        line-height: 30px;
        width: 80%;
    }
    .testimony-1{
        padding: 10px 30px;
        width: 45%;
    }
    .testimony-1 h2,
    .testimony-2 h2{
        font-size: 25px;
        line-height: 30px;
        width: 100%;
        text-wrap: wrap;
    }
    .testimony-2{
        width: 45%;
        padding: 10px 30px;
    }
    .pointers{
        display: flex;
    }
    .page-1,
    .page-2 {
        padding: 10px;
    }
    .page-1 svg,
    .page-2 svg{
        width: 14px;
        height: 14px;
    }
    .getting-started{
        overflow-x: hidden;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .getting-started-container{
        max-width: max-content;
    }
    .getting-started h1{
        font-size: 3rem;
        line-height: 1;
        width: 100%;
        text-wrap: nowrap;
    }
    .grid-view{
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .API{
        display: block;
        padding: 39px 10px 0;
        width: 550px;
        max-width: 700px;
        position: relative;
    }
    .API-docs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 350px;
    }
    .API-docs h1{
        text-align: center;
        width: 99%;
        white-space: pre-wrap;
        font-size: 1.9rem;
        line-height: 2rem;
    }
    .response img{
        width: 400px;
        height: 300px;
        margin-bottom: -50px;
        position: absolute;
        bottom: 0;
    }
    .SDK-Flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .SDK{
        padding: 10px 20px;
        margin-bottom: 20px;
        align-items: center;
        width: 157px;
    } 
    /* .SDK>img{
        width: 50px;
    } */
    .SDK>h1{
        font-size: 20px;
        width: 55%;
        text-wrap: wrap;
    }
    .SDK>a{
        font-size: 14px;
        margin-top: -50px;
    }
    footer{
        /* width: max-content; */
        max-width: 100%;
        
    }
    .fcontainer{
        padding-top: 5.5rem;
        padding-bottom: 5.5rem;
        padding-left: 2.75rem;
        padding-right: 2.75rem;
    }
    .footer-head h1{
        font-size: 1.95rem;
        line-height: 2rem;
        width: 80%;
    }
    .footer-head p{
        font-size: 18px;
        line-height: 20px;
        width: 79%;
        text-wrap: wrap;
    }
    .footer-bottom{
       display: flex;
       justify-content: space-between;

    }
    .fproducts,
    .fresources,
    .legal,
    .comp {
        font-size: 13px;
        text-wrap: nowrap;
        margin-right: 40px;
    }
    .bottom{
        width: 100%;
        display: flex;
        /* justify-content: space-between;
        align-items: end; */
        align-items: center;
    }
    .bottom-logo{
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bottom-logo img{
        margin-top: 0;
    }
    .bottom-logo p,
    .twitter h5{
        font-size: 13px;
    }
    .media-links{
        width: 42%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
@media screen and (min-width: 1200px) {
    /* .main{
         margin: auto; 
    } */
    /* .reliable{
        margin-right: 5rem;
        max-width: 43.75rem;
    } */
    /* .build{
        
    } */
    /* .business-view{
        padding-left: 9.375rem;
        padding-right: 9.375rem;
    } */
    /* .the-why{
       margin: auto;
        padding-top: 9.375rem;
        padding-bottom: 9.375rem;
    }     */
    /* .getting-started{
            padding-left: 9.375rem;
            padding-right: 9.375rem;
        }
        footer{
            padding-left: 5.375rem;
            padding-right: 5.375rem;
        }
     */
} 